{% macro write_toc(title, lst) %}
  <li>{{ title }}
    <ul>
      {% for tier, frameworks in lst|groupby('tier') %}
        <li><a href="#fw-tier{{tier}}">Tier {{ tier }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}

{% macro write_framework_list(frameworks) %}
  <table class="doxtable frameworks">
    <tr>
      <th class="framework-main-column">Framework</th>
      <th class="framework-detail-column framework-maintainer-column">Maintainer</th>
      <th class="framework-detail-column framework-type-column">Type</th>
    </tr>
  {% for fw in frameworks %}
    <tr class="framework-row" id="framework-{{ fw.fancyname }}" data-platforms="{{ fw.platform_dict|join(',') }}">
      <td class="framework-main-column">
        <img class="not-available-indicator" src="{{resources}}/icons/bad.png"/>
        <img class="available-indicator" src="{{resources}}/icons/ok.png"/>
        <div>
          <div class="framework-platforms">
          {% for platform in available_platforms %}
            <span class="framework-platform
              framework-platform-{{ platform }}
              {% if platform not in fw.platform_dict %}framework-platform-unsupported{% endif %}"
              >
              <span class="framework-platform-text">{{ platform }}</span>
            {% if fw.platform_dict.get(platform) %}
              <span title="{{ fw.platform_dict.get(platform) }}" class="platform-note">*</span>
            {% endif %}
            </span>
          {% endfor %}
          </div>
          <a class="framework-fancyname" href="{{fw.href}}">{{fw.fancyname}}</a>
        </div>
        <span class="framework-description">{{fw.description}}</span>
      </td>
      <td class="framework-detail-column framework-maintainer-column">{{ fw.maintainer }}</td>
      <td class="framework-detail-column framework-type-column">{{ fw.type }}</td>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endmacro %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{{title}} - Frameworks</title>

<style type="text/css">
  .cp-doNotDisplay { display: none; }
  @media aural, braille, handheld, tty { .cp-doNotDisplay { display: inline; speak: normal; }}
  .cp-edit { text-align: right; }
  @media print, embossed { .cp-edit { display: none; }}
</style>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="meta" href="http://www.kde.org/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
  <meta name="trademark" content="KDE e.V." />
  <meta name="description" content="K Desktop Environment Homepage, KDE.org" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="robots" content="all" />
  <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection" />
  <script type="text/javascript" src="dynsections.js"></script>
  <link rel="shortcut icon" href="{{resources}}/favicon.ico" /><link rel="icon" href="{{resources}}/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{{doxygencss}}" />
  <link rel="stylesheet" type="text/css" href="{{resources}}/kde.css" />

  {# frameworks.html specific stuff #}
  <script type="text/javascript" src="{{resources}}/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="{{resources}}/frameworks.js"></script>
  <link rel="stylesheet" type="text/css" href="{{resources}}/frameworks.css" />
  <script>
  $(document).ready(main);
  </script>
</head>

<body>

<ul class="cp-doNotDisplay">
  <li><a href="#cp-content" accesskey="2">Skip to content</a></li>
  <li><a href="#cp-menu" accesskey="5">Skip to link menu</a></li>
</ul>

<div id="container">
  <div id="header">
    <div id="header_top">
      <div>
        <div>
          <img alt ="" src="{{resources}}/top-kde.jpg"/>
          {{title}}
        </div>
      </div>
    </div>
    <div id="header_bottom">
      {% if breadcrumbs %}
      <div id="location">
        <ul>
          {% for entry in breadcrumbs.entries %}
          <li><a href="{{entry.href}}">{{entry.text}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div id="menu">
        <ul>
          <li><a href="http://www.kde.org/">KDE Home</a></li>
          <li><a href="http://kde.org/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- End page header -->
  <div id="body_wrapper">
    <div id="body">
      <!-- begin main content -->
      <div id="right">
        <div class="content">
          <div id="main">
            <div class="clearer">&nbsp;</div>
            <h2><a name="content"></a>{{title}}</h2>

            <div class="header">
              <div class="headertitle">
                <div class="title">
                  KDE Frameworks API Reference
                </div>
              </div>
            </div>
            <div class="contents">
              <div class="textblock">
                {% for para in tierinfo.intro %}
                  <p>{{ para }}</p>
                {% endfor %}
              </div>
              <h2>Frameworks</h2>
              {% for tier, frameworks in framework_lst|groupby('tier') %}
                <h3><a name="fw-tier{{ tier }}"></a>Tier {{tier}}</h3>
                <p>{{ tierinfo.tiers[tier] }}</p>
                {{ write_framework_list(frameworks) }}
              {% endfor %}
              <h2><a name="porting-aids"></a>Porting Aids</h2>
              {{ write_framework_list(porting_aid_lst) }}
            </div>
          </div>
        </div>
      </div> <!-- /right -->
      <div id="left">

        <div class="menu_box">
          <div class="menutitle">
            <div>
              <h2>Table of Content</h2>
            </div>
          </div>
          <div class="nav_list">
            <ul>
              <li>Frameworks
                <ul>
                  {% for tier, _ in framework_lst|groupby('tier') %}
                    <li><a href="#fw-tier{{tier}}">Tier {{ tier }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li><a href="#porting-aids">Porting Aids</a></li>
            </ul>
          </div>
        </div>

        <div class="menu_box">
          <div class="menutitle">
            <div>
              <h2>Filters</h2>
            </div>
          </div>
          <div>
            <ul>
              <li>
                <label>
                  <input id="platform-filter" type="checkbox">Filter by platform
                </label>
                <ul id="platform-filter-group" style="display: none">
                  <li>Only show frameworks which supports all of:</li>
                  {% for platform in available_platforms %}
                    <li>
                      <label>
                        <input data-platform="{{ platform }}" class="platform-checkbox" type="checkbox" checked="1">{{ platform }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <label>
                  <input id="showMaintainers" type="checkbox">Show maintainers
                </label>
              </li>
            </ul>
          </div>
        </div>

        {% if api_searchbox %}
          <div class="menu_box">
            <div class="menutitle"><div><h2>Search</h2></div></div>
            <div style="text-align: left;">
              <form action="/mapsearcher.php" method="get">
                <input type="text" name="class" value="search term" style="width:100%;" onclick="this.value='';"/>
                <br />
                <select name="module">
                  <option>ALL</option>
                  <option>kdelibs</option>
                  <option>kdepimlibs</option>
                  <option>kdebase-apps</option>
                  <option>kdebase-runtime</option>
                  <option>kdebase-workspace</option>
                  <option>kdeedu</option>
                  <option>kdegames</option>
                  <option>kdegraphics</option>
                  <option>kdemultimedia</option>
                  <option>kdenetwork</option>
                  <option>kdepim</option>
                  <option>kdepim-runtime</option>
                  <option>kdeplasma-addons</option>
                  <option>kdesdk</option>
                  <option>kdevelop</option>
                  <option>kdeutils</option>
                  <option>kdewebdev</option>
                  <option>kdesupport</option>
                </select>
                <select name="version">
                  <option>ALL</option>
                  <option>4.x</option>
                  <option>4.8</option>
                  <option>3.5</option>
                  <option>extragear</option>
                  <option>kdesupport</option>
                </select><br/>
                <input type="submit" name="go" value="Go" />
              </form>
            </div>
          </div>
        {% endif %}
        </div> <!-- /left -->
      </div> <!-- /body -->
      <div class="clearer"></div>
    </div> <!-- /body-wrapper -->
    <div class="clearer"></div>
  </div>

  <div id="end_body"></div>

  <div id="footer">
    <div id="footer_text">
      Report problems with this website to <a href="http://sysadmin.kde.org/tickets/">our bug tracking system</a>.<br>
      Contact the specific authors with questions and comments about the page contents.<p>
      KDE<sup>&#174;</sup> and <a href="/media/images/kde_gear_black.png">the K Desktop Environment<sup>&#174;</sup> logo</a> are registered trademarks of <a href="http://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
          <a href="http://www.kde.org/contact/impressum.php">Legal</a></p>
  </div>
</div>

<!--
WARNING: DO NOT SEND MAIL TO THE FOLLOWING EMAIL ADDRESS! YOU WILL
BE BLOCKED INSTANTLY AND PERMANENTLY!
<a href="mailto:aaaatrap-45abe0e0c3bebc77@kde.org">Block me</a>
WARNING END
-->

</body>
</html>
