<div class="menu_box">
  <div class="menutitle">
    <div>
      <h2>{{ dox.projectname }} : {{ fwinfo.description }}</h2>
    </div>
  </div>

  <p style="text-align: center"><a style="font-weight: bold;" href="http://inqlude.org/libraries/{{ fwinfo.fancyname|lower }}.html">Download on <span style="color: black;">#In<span style="color: #80C342;">q</span>lude</span></a></p>

  <dl>
    <dt>Maintainer</dt>
    {% if not fwinfo.maintainer %}
      <dd><a href="mailto:kde-devel@kde.org">The KDE Community</a></dd>
    {% elif "@" in fwinfo.maintainer %}
      <dd>{{ fwinfo.maintainer }}</dd>
    {% else %}
      <dd>{{ fwinfo.maintainer }}@kde.org</dd>
    {% endif %}

    <dt>Dependencies</dt>
      {% if fwinfo.tier >= 2 %}
      <dd><a href="http://qt-project.org/">Qt 5</a></dd>
      <dd><a href="http://api.kde.org/frameworks-api/frameworks5-apidocs/#fw-tier{{ fwinfo.tier - 1 }}">Other frameworks</a></dd>
      {% else %}
      <dd><a href="http://qt-project.org/">Only Qt 5</a></dd>
      {% endif %}

    <dt>Supported platforms</dt>
      <dd>
        {% for platform in fwinfo.platforms %}
          {% if platform.name == "All" %}
            Linux, MacOS X, Windows
          {% elif platform.name == "UNKNOWN" %}
            All the platforms supported by Qt
          {% else %}
            {{ platform.name }}{% if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </dd>

    <dt>Community</dt>
      <dd>IRC channel: #kde-devel on Freenode</dd>
      <dd><a href="https://mail.kde.org/mailman/listinfo/kde-frameworks-devel">Mailing list</a></dd>
      <dd><a href="https://projects.kde.org/projects/frameworks/{{ fwinfo.fancyname|lower }}/repository">Git repository</a></dd>

{% if fwinfo.libraries|default([0])|count != 0 %}
    <dt>Use with <a href="https://techbase.kde.org/Development/Tutorials/CMake">CMake</a></dt>
      <dd><pre class="fragment">find_package(KF5{{ fwinfo.cmakename }})
target_link_libraries(yourapp KF5::{{ fwinfo.libraries|default([fwinfo.cmakename])|join(' KF5::') }})</pre></dd>

    <dt>Use with QMake</dt>
      <dd><pre class="fragment">QT += {{ fwinfo.libraries|default([fwinfo.fancyname])|join(' ') }}</pre></dd>
{% endif %}

    <dt>Clone URL</dt>
      <dd><pre class="fragment">git clone git://anongit.kde.org/{{ fwinfo.fancyname|lower }}.git</pre></dd>
  </dl>
</div>
