{% extends "base.html" %}

{% block page_title %}{{ title }} - Search results{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{resources}}/js/search.js"></script>
  <script>
  $( document ).ready( function() {
    render_search();
});
  </script>
{% endblock %}

{% block title %}
    {{ fwinfo.fancyname }}
{% endblock %}

{% block content %}
            <h2 id="search-title"><a name="content"></a>Search results:</h2>

            <div id="results" class="contents">
            </div>

{% endblock content %}

{% block sidebar %}


{% endblock %} {# sidebar #}
