{% extends "base.html" %}

{% macro write_toc(title, subgroups) %}
  <li>{{ title }}
    <ul>
      {% for subgroup in subgroups %}
        <li><a href="#sg-{{ subgroup.name }}">{{ subgroup.fancyname }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}

{% macro write_library_list(libs) %}
  <table class="doxtable libraries">
    <tr>
      <th class="library-main-column">Framework</th>
      <th class="library-detail-column library-maintainer-column">Maintainer</th>
      <th class="library-detail-column library-type-column">Type</th>
    </tr>
  {% for lib in libs | sort(attribute='fancyname')%}
    <tr class="library-row" id="lib-{{ lib.name }}" data-platforms="{{ lib.platforms|join(',') }}">
      <td class="library-main-column">
        <img class="indicator not-available-indicator" src="{{resources}}/icons/bad.png"/>
        <img class="indicator available-indicator" src="{{resources}}/icons/ok.png"/>
        <div>
          <div class="library-platforms">
          {% for platform in available_platforms %}
            <span class="library-platform
              library-platform-{{ platform }}
              {% if platform not in lib.platforms %}library-platform-unsupported{% endif %}"
              >
            {% if lib.platforms.get(platform) %}
              <a data-note="{{ lib.platforms.get(platform) }}" href="#">
            {% endif %}
                <span class="library-platform-text">{{ platform }}</span>
            {% if lib.platforms.get(platform) %}
                <img class="warning-tooltip" src="{{resources}}/icons/warning.png"/></a>
            {% endif %}
            </span>
          {% endfor %}
          </div>
          <a class="library-fancyname" href="{{lib.href}}">{{lib.fancyname}}</a>
        </div>
        <span class="library-description">{{lib.description}}</span>
      </td>
      <td class="library-detail-column library-maintainer-column">{% set product = lib %}{% include "maintainers.html" %}</td>
      <td class="library-detail-column library-type-column">{{ lib.type }}</td>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endmacro %}

{% block page_title %}{{ title }}{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{resources}}/js/notetip.js"></script>
  <script type="text/javascript" src="{{resources}}/js/subgroup.js"></script>
  <script>
  $(document).ready(main);
  </script>
{% endblock %}

{% block title %}
    {{ group.fancyname }}
{% endblock %}

{% block content %}
            <div class="contents">
              <div class="textblock">
                {% for paragraph in group.long_description %}
                    <p>{{ paragraph }}</p>
                {% endfor %}

              </div>
              <h2>List of the libraries</h2>

              {% if group.libraries | selectattr('subproduct', 'none') | list | length > 0 %}
                {% if group.subproducts | length > 0 %}
                <h3><a name="sg-{{ nosubproduct }}"></a>Without subgroup</h3>
                {% endif %}
                {{ write_library_list(group.libraries | selectattr('subproduct', 'none') )}}
              {% endif %}
              {% for subproduct in group.subproducts |sort(attribute='order') %}
                <h3><a name="sg-{{ subproduct.name }}"></a>{{ subproduct.fancyname }}</h3>
                <p> {{ subproduct.description }}</p>
                {{ write_library_list(subproduct.libraries) }}
              {% endfor %}


            </div>

{% endblock content %}

{% block sidebar %}

        <div class="menu-box">
          <div class="menu-title">
            <h2>Table of Content</h2>
          </div>
          <div class="menu-content">
            <ul>
              <li>
                <ul>
                  {% if group.libraries | selectattr('subproducts', 'none') | list | length > 0 %}
                    {% if group.subproduct | length > 0 %}
                    <li><a href="#sg-{{ nosubproduct }}">Without subgroup</a></li>
                    {% else  %}
                    <li><a href="#content">All</a></li>
                    {% endif %}
                  {% endif %}
                  {% for subproduct in group.subproducts | sort(attribute='order') %}
                    <li><a href="#sg-{{ subproduct.name }}">{{ subproduct.fancyname }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="menu-box">
          <div class="menu-title">
            <h2>Filters</h2>
          </div>
          <div class="menu-content">
            <ul>
              <li>
                <label>
                  <input id="platform-filter" type="checkbox"> Filter by platform
                </label>
                <ul id="platform-filter-group" style="display: none">
                    <li><br><i>Only show libraries which supports all of:</i></li>
                  {% for platform in available_platforms | sort %}
                    <li>
                      <label>
                        <input data-platform="{{ platform }}" class="platform-checkbox" type="checkbox" checked="1"> {{ platform }}
                      </label>
                    </li>
                  {% endfor %}
                  <br />
                </ul>
              </li>
              <li>
                <label>
                  <input id="showMaintainers" type="checkbox"> Show maintainers
                </label>
              </li>
            </ul>
          </div>
        </div>

        <div class="menu-box">
          <div class="menu-title">
            <h2>About</h2>
          </div>
          <div class="menu-content">
            <p>{{ group.description }}</p>

            <dl>
              <dt>Maintainer{% if group.maintainers|count > 1 %}s{% endif %}</dt>
              <dd>{% set product = group %}{% include "maintainers.html" %}</dd>
            {% if group.platforms %}
              <dt>Supported platforms</dt>
              <dd>{{ group.platforms | sort | join(', ') }}</dd>
            {% endif %}
              <dt>Community</dt>
              <dd>IRC channel: <a href="irc://freenode/#{{ group.irc }}">#{{ group.irc }}</a> on Freenode</dd>
              <dd>Mailing list: <a href="https://mail.kde.org/mailman/listinfo/{{ group.mailinglist }}">{{ group.mailinglist }}</a></dd>
            </dl>
          </div>
        </div>

{% endblock %} {# sidebar #}
