table.frameworks {
    width: 100%;
}

table.frameworks h3 {
    margin: 0;
    padding: 0;
}

table.frameworks td {
    padding: 0.5em;
}

.framework-detail-column {
    text-align: center;
    width: 120px;
}

.platform-note {
    cursor: help;
    color: #f7800a;
    font-weight: bold;
}

.framework-platforms-column ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Platform filtering --------------------------------*/
.not-available-indicator, .available-indicator {
    display: none;
    float: left;
    padding-right: 0.5em;
}

.not-available .not-available-indicator {
    display: inline;
}

.available .available-indicator {
    display: inline;
}

tr.not-available td.framework-platforms {
    background-color: #fee;
    color: red;
}

tr.available td.framework-platforms {
    background-color: #efe;
    color: green;
}
