/*
** HTML elements
*/
body, table, div, p, dl {
    font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.3;
}

/*
** HTML Tags
*/

h1, h2, h3, h4 {
    color: #f7800a;
    background: transparent;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-weight: bold;
}

a:link {
    color: #0057ae;
}

a:visited {
    color: #644A9B;
}

input, textarea, select {
    margin: 0.2em;
    padding: 0.1em;
    border: 1px solid;
}

dt a {
    margin-top: 0.5em;
    font-weight: bold;
}

dd {
    margin-left: 1em;
    color: #323232;
}

form {
    margin: 0;
    padding: 0;
}

/*
** Header
*/
#header {
    width: 100%;
    color: #535353;
    background: #eeeeee;
}

#header_top {
    margin: 0 auto;
    padding: 0;
    width: 95%;
    vertical-align: middle;
    color: #ffffff;
    background: url(top.jpg) repeat-x bottom;
    background-color: #0057ae;
}

#header_top div {
    margin: 0 auto;
    padding: 0;
    background: url(top-left.jpg) no-repeat bottom left;
}

#header_top div div {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    font-size: 1.7em;
    font-weight: bold;
    background: url(top-right.jpg) no-repeat bottom right;
}

#header_top div div img {
    margin:8px 0px 9px 18px;
    vertical-align: middle;
}

#header_bottom {
    margin: 0 auto;
    padding: 0.1em 0em 0.3em 0;
    width: 95%;
    vertical-align: middle;
    text-align: right;
    background: #eeeeee;
}

#location {
    padding: 0 0 0 1.5em;
    line-height: normal;
    font-size: 1.1em;
    font-weight:bold;
    float: left;
}

#location ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

#location ul li {
    display: inline;
    white-space : nowrap;
    margin: 0;
    padding: 0 1em 0 0;
}

#menu {
    margin: 0 1.5em 0 0;
    text-align: right;
    line-height: normal;
    font-size: 1.1em;
    font-weight: bold;
}

#menu ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu ul li {
    display: inline;
    white-space : nowrap;
    margin: 0;
    padding: 0 0 0 1em;
    text-align: right;
}

#menu ul li a {
    font-weight: bold;
}


/*
** Content
*/

#main {
    /* padding in px not ex because IE messes up 100% width tables otherwise */
    padding-left: 10px;
}

/* The project name (redundant as it is shown in the menu, too) */
div.clearer+h2 {
    display: none;
}

/* Provides the thin vertical grey line on the left of the menu */
#body_wrapper {
    margin: 0 auto;
    width: 95%;
    border: #dddddd solid;
    border-width: 0 0 0 1px;
}

#right {
    float: right;
    width: 73%;
}

/*
** Listing
*/
span.lineno {
    border-right: 1px solid #ddd;
    background-color: transparent;
    color: #666;
}

span.lineno a {
    background-color: transparent;
}

/* Use div.fragment, not pre.fragment. pre.fragment is used for @verbatim blocks, which must keep their border */
div.fragment {
    background-color: transparent;
    border: none;
}

/*
** Left Menu
*/

#left {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

.menu_box {
    padding: 0.7em 0 0 0;
}

.menu_box li {
    list-style-type: none;
    margin-left: 0.1em;
}

.menu_box ul ul {
    padding-left: 0;
}

.menu_box li li {
    margin-left: 1em;
}

.menutitle {
    margin: 0.6em 0 1.2em 0;
    padding:0;
    color: #ffffff;
    background: url(block_title_mid.png) repeat-y right;
    background-color: #0057ae;
}

.menutitle div {
    background: url(block_title_top.png) no-repeat top right;
}

.menutitle div h2 {
    margin: 0;
    padding: 0.2em 0 0.3em 1.3em;
    line-height:1.2em;
    font-size: 120%;
    font-weight: normal;
    color: #ffffff;
    background: url(block_title_bottom.png) no-repeat bottom right;
}

.clearer {
    clear: both;
    height: 1px;
}


/*
** Footer
*/
#footer {
    background: #eeeeee;
}

#footer_text {
    margin: 0 auto;
    padding: 1em 0 1em 3.5em;
    width: 51.5em;
}

#footer a:link, #footer a:visited {
    color: #4d88c3;
}
